 html{
    font-size: 20px;
  overflow-x: hidden;
 }



 
body{
    display: flex;
    flex-direction: column;
   padding-top: 8rem;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
   background-color: #E8D5BB;
font-family: 'Poppins',sans-serif !important;

   
 }


 header{
  top: 0;
  z-index: 1000;
position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
     height: clamp(5rem,23vh,10rem);
       border-bottom-right-radius:2rem ;
           border-bottom-left-radius:2rem ;
           transition: 1s ease;
           transition-delay: 0s;
          
             
 }


 header.background{
  background-image: url(Images/TopBackground.png);
  background-size: cover;
  box-shadow: 0 10px 25px black;
 }



 .FirstContainer{

display: flex;
width:100%;
height: 50%;
align-items: center;
   
justify-content: space-between;


 }

 

.BrandName{
  font-weight: 500;
}






.toggle-label{
   font-size: clamp(1.2rem,6vw,7rem);
  padding-left: 0.3rem;
   padding-right: 0.3rem;
  border-radius: 0.5rem;
}

.toggle-label:active{

   background-color: #F5EBDD;
  
}



 nav{
    z-index: 1100;
    position: fixed;
    top: 70px;
    right: -5px;
    display: flex;
    flex-direction: column;
    
    
    padding-top: 20px;
   justify-content: space-evenly;
   padding-left: 0.5rem;
   width: clamp(5rem,20vw,10rem);
    height: clamp(20rem,50vh,40rem);
       
       background-color:#ed9e3df2;
         border-radius: clamp(0.5rem,2vw,1rem);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
 }



.SettingsTextContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
  height: fit-content;
}







.SettingsText{
 font-weight: 600;
}

.LineSettings{
  width: 90%;
  height: 2px;
  background-color: #352e2e;

  margin-top: 0;
}


  nav a{
    text-decoration: none;
    color: rgb(11, 6, 6);
       width: fit-content;
        font-size: medium;
      border-radius: 0.4rem;
      padding: 0.2rem;
    
 }

  nav a:hover{
    background-color: #733410;
 }
 .About-us{
    
     width: clamp(4rem,5vw,6rem);
     padding-left: 0.1rem;
 }




.notification-toggle{
   display: flex;
   align-items: center;
   gap: 10px;
 
 }








  nav.Slide{
    transform: translateX(-7%);

 
   
 }


 #toggle{
    display: none;
 }

.logo{

    background-image: url(Images/UserPic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: clamp(3rem,5vw,5rem);
    height: clamp(3rem,5vh,5rem);
        border-radius: 2rem;
    margin-left: 5px;
}



.SearchContainer{
  position: relative;
  display: flex;
  width: 14rem;
  height: 2.5rem;   
  align-self: center;
  align-items: center;
border-radius: 1.3rem;
border: 1px solid rgba(95, 95, 93, 0.762);
background: linear-gradient(rgb(206, 204, 204),white);

}



.SerachForCoffee{
width: 10rem;
height: 2.5rem;

  border-radius: 1.3rem;
padding-left: 0.3rem;
background-color:transparent ;
border: none;
outline: none;
font-size: medium;
font-weight: 500;
z-index: 10;
}



.SearchContainer.Scroll{

animation: ScrollAnimation 0.5s linear forwards;

}


@keyframes ScrollAnimation {

  0%{
     width:14rem;
    opacity: 1;
  }

  100% {
     width:2.5rem;
    opacity:1;
  }

}


.SearchContainer.Scroll-Reverse{

animation: ScrollAnimation-Reverse 0.5s linear forwards;
}

@keyframes ScrollAnimation-Reverse{
    0%{
       width:2.5rem;
       opacity:0;
  }

   100%{
    width:14rem;
    opacity: 1;
  }

}


::placeholder{
  font-size: small;

}


.Searchbtn{
  position: absolute;
  width: 3.1rem;
  height: 2.4rem;
  z-index: 11;
  right: 0;
  transform: translateX(10%);
  transition:  1s linear ;
    border-radius: 1.3rem;
border: none;
background-color: transparent;
}

.Searchbtn .SearchSticker{

  background-image: url(Images/search.png);
  background-size: cover;
  background-position: center;
    width: 100%;
  height: 100%;
}


.SearchResult-Container{
  position: absolute;
  display: flex;
  flex-direction: column;
  width:  14rem;
  height: auto;
  max-height:8rem ;
  border-radius: 0.5rem;
  background-color: #f1ddc9;
  top: 3.2rem;
  overflow-x: hidden;
  overflow-y: auto;
  gap: 0.5rem;
  flex-shrink: 0;
  opacity: 0;
  pointer-events: none;
border: 1px outset  rgb(232, 178, 108);
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.613);
}



.Square{
position: absolute;
 width: 0;
  height: 0;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 0.8rem solid #f1ddc9;
opacity: 0;
   right: 1rem;
  top: 2.5rem;
box-sizing: border-box;

}




.CoffeeResult{
display: flex;
align-items: center;
gap: 0;
width: 95%;
align-self: center;
height: fit-content;
padding-left: 0.3rem;
flex-shrink: 0;
border-radius: 0.5rem;
padding-bottom:0.3rem ;
padding-top:0.3rem ;
}



.CoffeeResult:hover{
  background-color: #352e2e52;
}





.ResultTitle{
  font-size: medium;
  padding-left: 0.3rem;
margin-bottom: 0;
padding-top:0.4rem ;
}

.Line{
  width: 90%;
  height: 1px;
  align-self: center;
  border-radius: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  flex-shrink: 0;
  background-color: #dda65f7a;
}



.PicturesOfResults{
  display: flex;
  flex-direction: column;
  width:fit-content;
  min-height: 3rem;
  height: fit-content;
  padding-top: 0.5rem;
  gap: 1rem;
  background-color: #352e2e;
       
}

.ResultPic{
 
  width: 4rem;
height:4rem ;
background-size: cover;
border-radius: 0.5rem;

}




.ResultText{
display: flex;
width: 10rem;
padding-top: 0.3rem;
justify-content: space-between;
height: fit-content;

}




.ResultIdentity{
  display: flex;
  flex-direction: column;
  width: 50%;
  height:fit-content;
  gap: 0;
  padding-left: 0.2rem;
}




.ResultName{
  font-size: large;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;

}


.ResultDescription{
  font-size: 0.6rem;
  width:5rem;
  margin-top: 0;
    padding-left: 0.1rem;
}



.Arrow-And-Price{
display: flex;
align-self: center;
width:40%;

height: fit-content;
justify-content: center;
gap: 0.3rem;
}


.ResultArrow{
  font-family: 'Poppins',sans-serif;
}





 .section1{
z-index: 1;
position: relative;
   display: flex;
   flex-direction: column;
gap: 0.5rem;
   flex-direction: column;
   width: 100%;
    min-height: 28rem;
    
overflow: hidden;
 }



.Menue-Types-texts{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  align-items: center;
  height:4rem;
 gap: 0;
}




.Menue-text{
  color:#6f4811;
  font-size: clamp(1.5rem,5vw,2.5rem);
  font-weight: 500;
padding-left: 0.1rem;
margin-bottom: 0;

}

.types{
font-size: small;
  color:#6f4811;
  font-weight: 600;
align-self: center;
padding-right: 0.1rem;
margin-top: 0;
line-height: 0;
}



.CoffeeMenue-Container{

  display: flex;
  width: 100%;

  height:clamp(7.5rem,18vw,11rem) ;
      overflow-x: auto;
      overflow-y: hidden;
      padding-top:0.2rem ;
      padding-bottom:0.2rem ;
      background-color: #352e2e1c;
     
}


.CoffeeMenue-Container {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
}

.CoffeeMenue-Container::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
}


 .coffee-menue{
   display: flex;

  gap: 20px;
   align-items: flex-start;
   padding-top: 0.1rem;
   height:fit-content;
scrollbar-width: none;

   padding-bottom: 1.3rem;
   width: max-content;
padding-left: 0.5rem;

 }



.MenueCoffee-Heart{
  position: absolute;
  left:81%;
  top: 4%;
  z-index: 999999;
  color: #352e2e;
}



.MenueCoffee-Heart.fa-solid.fa-heart{
  position: absolute;
  left:81%;
  top: 4%;
  z-index: 999999;
  color: #352e2e;
}







.coffe-container{
  
position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
  border-radius: 1rem;
   width: clamp(7rem,21vw,10rem);
   height: clamp(5rem,13vw,7rem);
   background:linear-gradient(45deg,#936526,#F5EBDD,white);
   flex-shrink: 0;
      box-shadow: 0 5px 15px rgba(53, 46, 46, 0.518);
      
}





.coffe-container a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
 
  color:#6f4811;
  width: 100%;
  height: 100%;

}






 
 .coffe1{
    position: relative;
     border-radius: 1rem;
     
   background-image: url(Images/Espresso.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
     width: 100%;
   height: 100%;
     z-index: 200;
     cursor: pointer;

 }

 .coffe1-text{
    flex-wrap: nowrap;

 position: absolute;
 left: 3px;
  top: 65%;
  font-weight: 500;
  font-size: clamp(0.3rem,10vw,0.9rem);
 
  color:#352e2e;
}



 

 .coffe2{
  border-radius: 1rem;
padding-left:0.5rem ;
 padding-right: 0.5rem;
   background-image: url(Images/Americano.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
     cursor: pointer;

 }

 



 .coffe3{
         cursor: pointer;
 padding-left:0.5rem ;
 padding-right: 0.5rem;
   background-image: url(Images/Latte.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
     width: 100%;
   height: 100%;
   border-radius: 1rem;

 }
 
 





  .coffe4{
    padding-left:0.5rem ;
 padding-right: 0.5rem;
     
   background-image: url(Images/Flat-white.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
          cursor: pointer;

     width: 100%;
   height: 100%;
   border-radius: 1rem;

 }
 
 





  .coffe5{
   
      padding-left:0.5rem ;
 padding-right: 0.5rem;
   background-image: url(Images/Cappuccino.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
   height: 100%;
   border-radius: 1rem;
     cursor: pointer;

 }
 
 






  

.coffe6{
   
      padding-left:0.5rem ;
 padding-right: 0.5rem;
   background-image: url(Images/Macchiato.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
   border-radius: 1rem;
     cursor: pointer;

 }
 

.coffe7{
   
     
   background-image: url(Images/Mocca.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
     width: 100%;
   height: 100%;
   border-radius: 1rem;
 padding-left:0.5rem ;
 padding-right: 0.5rem;
      cursor: pointer;

 }
 

.coffe8{
   
      padding-left:0.5rem ;
 padding-right: 0.5rem;
 background-image: url(Images/Cortado.jpg);
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
   height: 100%;
   border-radius: 1rem;
     cursor: pointer;

 }
 
  


.coffe9{
   
      padding-left:0.5rem ;
 padding-right: 0.5rem;
   background-image: url(Images/Lungo.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
   height: 100%;
   border-radius: 1rem;
    
     cursor: pointer;

 }
 


.coffe10{
   
      padding-left:0.5rem ;
 padding-right: 0.5rem;
   background-image: url(Images/Restretto.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
   height: 100%;
   border-radius: 1rem;
    
     cursor: pointer;

 }
 
.coffe11{
   
      padding-left:0.5rem ;
 padding-right: 0.5rem;
   background-image: url(Images/Cold-brew.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100%;
   border-radius: 1rem;
    
     cursor: pointer;

 }
 



 .coffe12{
   
      padding-left:0.5rem ;
 padding-right: 0.5rem;
   background-image: url(Images/Ice-coffe.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
   height: 100%;
   border-radius: 1rem;
    
     cursor: pointer;

 }
 

.coffe13{
   
      padding-left:0.5rem ;
 padding-right: 0.5rem;
   background-image: url(Images/Galao.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
   height: 100%;
   border-radius: 1rem;
    
     cursor: pointer;

 }

 .Turkish-text{
 position: absolute;
 left: 3px;
  top: 85px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: clamp(0.5rem,5.5vw,1rem);
 
  color:#6f4811;

}


.coffe14{
    padding-left:0.5rem ;
 padding-right: 0.5rem;
     
   background-image: url(Images/Viennese.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
   height: 100%;
   border-radius: 1rem;
    
     cursor: pointer;

 }
 

.coffe15{
   
      padding-left:0.5rem ;
 padding-right: 0.5rem;
   background-image: url(Images/Afogado.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
     width: 100%;
   height: 100%;
   border-radius: 1rem;
    
     cursor: pointer;

 }
 

 .most-popular{
  position: relative;
  display: flex;
  align-self: center;
  flex-direction: column;
   overflow-y: scroll;
  min-height: 0;
  gap: 1rem;
  width: 95%;
  max-width: 35rem;
  height: clamp(10rem,70vw,30rem);
  border-radius: 1rem;
  background-color: #b6823a;
  padding-bottom: 0.5rem;
}

  .popular-row{
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
  }

@media (min-width:600px){

  .popular-row{
    
    justify-content: center;
  }

}



 
 .most-popular-button{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
 margin-top: 0;
  border-radius: 0.5rem;
  width: clamp(0.7rem,80vw,3rem);
  height:clamp(0.7rem,60vh,2rem) ;
  border:2px solid rgb(255, 212, 133);
  background-color: #ffb73b;
  background-size: 100% 1000%;
  font-size: larger;
  cursor: pointer;
 transition: 0.7s ease;

}


.most-popular {
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #daf624 #6f4811; /* thumb track */
}

/* Chrome/Safari */
.most-popular::-webkit-scrollbar {
  width: 6px;
}
.most-popular::-webkit-scrollbar-track {
  background: #6f4811;
}
.most-popular::-webkit-scrollbar-thumb {
  background-color: #daf624;
  border-radius: 10px;
}

.most-popular {
  -webkit-mask-image: linear-gradient(to bottom, black 97%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 97%, transparent 100%);
}

.popular{
  color:#6f4811;
  font-weight: 500;

  width: fit-content;

   padding-right:0.6rem ;
    padding-left:0.6rem ;

  margin-left: 0.6rem;

border-radius: 0.9rem;

padding-top: 0.2rem;
padding-bottom:0.2rem;
  background-color:white;
      box-shadow: 0 0.1rem 0.5rem rgba(80, 45, 15, 0.107);

}
.Popular-container{
  display: flex;
 position: relative;
 flex-direction: column;
width: clamp(4rem,51vw,15rem);
  height: clamp(6rem,30vw,18rem);
  margin-top: 0.8rem;
   background:#e9bf76;
  border-radius: 1rem;
padding-bottom: 0.5rem;
 margin-left: 0.5rem;
}








.Popular-container .fa-regular.fa-heart{

  position: absolute;
  top: 5%;
  left: 85%;
  z-index: 999999;
}

.Popular-container .fa-solid.fa-heart{

  position: absolute;
  top: 5%;
  left: 85%;
  z-index: 999999;
}



.popularTextDiv{
  display: flex;
padding-left: 0.3rem;
  position: relative;
  width: 100%;
  height: fit-content;  
 
}

.popularTextDiv p{
 font-size:large ;
 margin-top: 0;
 margin-bottom: 0;
}
   

.first-of-popular{

width: 100%;
  height: 80%;
  padding-top: 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-image:url(Images/Afogado.jpg) ;
  background-position: center;
  background-size: cover;
  z-index: 34;
}



.second-of-popular{

width: 100%;
  height: 100%;
 
  padding-top: 1.5rem;
  border-radius: 1rem;
  background-image:url(Images/Americano.jpg) ;
  background-position: center;
  background-size: cover;
  
}
.third-of-popular{

width: 100%;
  height: 100%;
 
  padding-top: 1.5rem;
  border-radius: 1rem;
  background-image:url(Images/Cappuccino.jpg) ;
  background-position: center;
  background-size: cover;
  
}
.fourth-of-popular{
width: 100%;
  height: 100%;
 
  padding-top: 1.5rem;
  border-radius: 1rem;
  background-image:url(Images/Cortado.jpg) ;
  background-position: center;
  background-size: cover;
  
}
.fifth-of-popular{

width: 100%;
  height: 100%;
 
  padding-top: 1.5rem;
  border-radius: 1rem;
  background-image:url(Images/Espresso.jpg) ;
  background-position: center;
  background-size: cover;
  
}



.coffe-photo-container{
  margin-top: clamp(1.5rem,20vw,3rem);
  align-self: center;
   width: clamp(10rem,30vw,20rem);
  height:clamp(10rem,30vw,20rem) ;
  
}
.coffe-photo{

  background-image: url(Images/coffe-photo.png);
  background-position: center;
  background-size: contain;
  width: 100%;
  height:90%;
      padding-top: 1rem;

}

 .section2{
display: flex; 
flex-direction: column;
align-items: center;
  width: 100%;
  min-height: 35vh;

 
 }

 .About-us-text{
  font-weight: 600;
    text-align: center;
margin-top: 0;   
 color:#6f4811;
   
font-size: clamp(1rem,5vw,1.5rem);   
 }
 

.box-about{
  display: flex;
  flex-direction: column;
width:fit-content;

justify-content: space-evenly;
 max-width: 30rem;
 
 height: clamp(8rem,70vw,40rem);
    padding-top: 0.5rem;

  padding-right: 0.8rem;
   padding-left: 0.3rem;
 gap: 0;
    padding-left: 0.5rem;
  border: double 4px #6f4811 ;
  border-radius: 1rem;
 
}
.box-about p{
  font-size: clamp(0.1rem,3.5vw,1.5rem) ;
  margin-top: 0;
white-space: wrap;

    }



.section3{
  position: relative;
   display: flex;
  flex-direction: column;
  width: 100%;
      min-height:25rem;
      

}


.Customers-Questions{

  padding-bottom: 0.3rem;
  color: #6f4811;
  font-size: clamp(0.5rem,6vw,2rem);
 align-self: center;
}


.box-of-questions{
  position: relative;
 display: flex;
 flex-direction: column;
 gap: 30px;
width: 90%;
align-self: center;
height:max-content;
border: 2px solid #6f4811;
border-radius: 1rem;
padding-left: 0.3rem;
padding-top: 12px;
padding-bottom: 20px;

}


.question{
display: flex;
background-color:#936526;
align-items: center;
justify-content: space-between;
row-gap: 20px;
width: 97%;
height: 20%;
padding-right: 5px;
border-radius: 0.5rem;
padding-left: 3px;
}
.question-btn{
  border-radius: 0.5rem;
  border: 2px solid rgb(159, 132, 21);
width: clamp(1.5rem,20vw,4rem);
height: clamp(1rem,10vw,3rem);
background-color: #d9a1528a;
margin-top: clamp(3px,4vh,10px);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* Glass edge */
  border: 1px solid rgba(255, 255, 255, 0.55);

  /* Depth */
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.18),
    inset 0 1px 1px rgba(255, 255, 255, 0.5);
  
}
.question p{
  font-size: clamp(0.5rem,4.4vw,2rem);
  text-align: center;
  
}

.popup-answer{
 align-self: center;
position: absolute;
display: flex;
flex-direction: column;
margin-top: 20%;
padding-top: 15px;
padding-left: 0.3rem;
 transform: translateX(-100vw);
 opacity: 0;
border-radius: 0.5rem;
width: fit-content;
height: fit-content;


background: #af8c5be6;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    /* Glass edge */
    border: 1px solid rgba(255, 255, 255, 0.3);

    /* Subtle depth */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
transform: translateX(-100vw);
z-index: 2;

}

.popup-answer p{
  text-align: start;
  margin-top: -5px;
}


.question:has(.question-btn:focus) .popup-answer{

  animation: move-answer  1s ease forwards;
}


@keyframes move-answer{
  
    to{
    transform: translateX(-4vw);
    opacity: 1;
  }
}


.ServicesSection{
padding-top: 0.5rem;
display: flex;
flex-direction: column;
width:100%;
justify-self: center;
align-items: center;
gap: 0.5rem;
min-height:13rem;


}



.SectionTittle{
display: flex;
width:fit-content ;
height: fit-content;
justify-content: center;
 background-color: #f1ae7771;
 border-radius: 1rem;
 padding-left:0.3rem ;
  padding-right:0.3rem ;

}




.SectionTittle p{
font-size: clamp(0.6rem,7vw,2rem);
}



.ServiceTittle p{
line-height: 0;
font-weight: 600;
font-size: larger;
 color:#6f4811;

}





.TheServices{
  display: flex;

  width:100%;

justify-content: center;
min-height:95%;

flex-wrap: wrap;
gap: 0.2rem;
}


.Quality,.FastDelever,.EasyOrdering,.BestOffers,.WideSelection,.CustemorSupport{

display: flex;
flex-direction: column;
width: clamp(5rem,46vw,13rem);

height: clamp(8rem,37vw,11rem);
padding-top: 0.5rem;
align-items: center;
padding-top: 0.6rem;
background-color: #e4ba57;
gap: 1rem;
border-radius: 0.7rem;
}

.Service-Pic-Holder{
display: flex;
justify-content: center;
align-items: center;
width:40%;
  aspect-ratio: 1 / 1;
    border-radius: 50%;

border-radius: 1.8rem;
background-color: #e9c695;
      
    box-shadow: 0 0.3rem 0.7rem rgba(80, 45, 15, 0.477);

}


.Quality .Service-Pic-Holder div{


background-image: url(Images/cup-of-drink.png);
background-size: contain;
background-repeat: no-repeat;
width:2rem;
height:2rem;
      

}




.FastDelever .Service-Pic-Holder div{


background-image: url(Images/delivery-bike.png);
background-size: contain;
background-repeat: no-repeat;
width:2rem;
height:2rem;
      

}




.EasyOrdering .Service-Pic-Holder div{


background-image: url(Images/process.png);
background-size: contain;
background-repeat: no-repeat;
width:2rem;
height:2rem;
      

}



.BestOffers .Service-Pic-Holder div{


background-image: url(Images/tag.png);
background-size: contain;
background-repeat: no-repeat;
width:2rem;
height:2rem;
      

}



.WideSelection .Service-Pic-Holder div{


background-image: url(Images/choice.png);
background-size: contain;
background-repeat: no-repeat;
width:2rem;
height:2rem;
      

}






.CustemorSupport .Service-Pic-Holder div{


background-image: url(Images/listening.png);
background-size: contain;
background-repeat: no-repeat;
width:2rem;
height:2rem;
      

}





.ServiceTittle{
  line-height: 0;
  font-size: clamp(0.3rem,4.5vw,1.3rem);
  margin-bottom: 0;
  margin-top: 0;
   font-weight: 600;
}


.ServiceDiscription{
  font-size: clamp(0.4rem,3vw,0.8rem);
  text-align: center;
  
    margin-top: 0;
}




.section4{
z-index: 1;
position: relative;
display: flex;
flex-direction: column;
width: 100%;
min-height: 130vh;
margin-top: 0;
background-color: #E8D5BB;
overflow: hidden;
}


.testimonials-sticker{
background-image: url(Images/testimonials-sticker.png);
background-position: center;
background-size: cover;
width: clamp(10rem,50vw,25rem);
height: clamp(10rem,30vw,7rem);
align-self: center;


}





.testimonials-p{

position: absolute;
align-self: center;
margin-top: 80px;
margin-left: 115px;

font-size: clamp(1rem,7vw,2rem);
font-weight: 800;
color: #352e2e;

}



.comments-container{


position: relative;
display: flex;
width:fit-content;
height: fit-content;
overflow: hidden;
gap: 30px;
  align-items: center;
padding-bottom: 0.18rem;
padding-top: 0.18rem;
margin-top: 20px;
animation: move-comment 30s  linear infinite  ;
}
.comments-container:hover{

  animation-play-state: paused;
}
.comments-container2:hover{

  animation-play-state: paused;
}

.comment-box{
  position: relative;

  width: clamp(14rem, 28vw, 20rem);
  height: max-content;

  border-radius: 2rem;

  /* Real glass transparency */
  background: linear-gradient(
    135deg,
    rgba(255,255,255,0.25),
    rgba(255,255,255,0.05)
  );

  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);

  border: 1px solid rgba(255,255,255,0.4);

  box-shadow:
    0 3px 3px rgba(0,0,0,0.4),      /* outside shadow */
    inset 0 0 20px rgba(255,255,255,0.25),  /* inner glow */
    inset 0 0 5px rgba(255,255,255,0.6);    /* glass edge */

  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 0.4s ease;
}


.comment{

  
  
  margin-top: 0 ;
}


.homme1{
position: absolute;
width: 20%;
height: 30%;
background-image: url(Images/homme1.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;


}
.homme2{
position: absolute;
width: 20%;
height: 30%;
background-image: url(Images/homme2.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;


}
.homme3{
position: absolute;
width: 20%;
height: 30%;
background-image: url(Images/homme3.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;


}
.homme4{
position: absolute;
width: 20%;
height: 30%;
background-image: url(Images/homme4.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;


}



.user{
  margin-left: 3.5rem;
  
}


@keyframes move-comment{

  from{
  transform: translateX(0); 
  }
  to{
   transform: translateX(-50%);
  }
  
}




.comments-container2{


position: relative;
display: flex;
width:max-content;
height:fit-content;
overflow: hidden;
gap: 30px;
  align-items: center;
  margin-top: 0;
  padding-bottom: 0.5rem;
  animation: move-comment 30s  linear infinite reverse  ;
  
}






h1{
  position: relative;
margin-top: -15px;
 text-align: center;
  
  font-weight: 500;
  color: #6f4811;
  font-size: clamp(0.3rem,4vw,1rem);
  margin-left: 0.3rem;
}





.glass-circle{
  position: fixed;
  width: 160px;
  height: 160px;
  border-radius: 50%;

  pointer-events: none;
  z-index: 9999;

  /* Softer glass */
  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border: 1px solid rgba(255,255,255,0.4);

  box-shadow:
    0 4px 10px rgba(0,0,0,0.15),
    inset 0 0 10px rgba(255,255,255,0.3);

  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.15s ease;
}








.person-width-beard{


background-image: url(Images/person-holds-text-cloud2.jpg);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
width: 95%;
height: clamp(10rem,25vh,30rem);
align-self: center;
 margin-bottom: 3rem;
 border: solid 0.5px #dcd2c6;
border-radius: 1.5rem;
}


footer{
    display: flex;
  justify-content: space-evenly;
  align-items: center !important;
  width:96%;
  height: clamp(2.5rem,5vh,3.3rem);
  position: fixed;
  bottom: 0;
  border: 1px white solid;
  border-radius:0.5rem ;
   
z-index: 10000000;
  background-color:#6f4811;
  align-self: center;
}

footer a i{

  color: white;
}
 


/* Latte Style-------------------------------------------------------------------------*/



.Latte-body{
  position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }




.arrow{
   position: relative;
   align-self: flex-start;
  border-radius: 0.5rem;
  width: clamp(0.3rem,15vw,2.5rem);
   height: clamp(0.3rem,15vw,2rem);
   
background-image: url(Images/arrow-right.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
transform: rotate(180deg);

}

.photo-buying-container{
    position: relative;
  display: flex;

  justify-content: space-around;
  width: 97%;
  height: fit-content;
  padding-bottom: 0.5rem;
}




 .Latte-photo{
   justify-content: left;
background-image: url(Images/Latte.jpg);
background-size: cover;
background-position: center;
  align-self: center;
width: clamp(4rem,30vw,9rem) ;
height: clamp(4rem,30vw,9rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }


 


.Latte-text{
  
  position: absolute;
    top: -15px;
left:50%;
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}



.sizes{
align-self: flex-end;
display: flex;
flex-direction: column;

width: clamp(4rem,56vw,14rem);
height: clamp(3rem,20vw,7rem);
background-color: #dcc3a1;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
top: clamp(0.3rem,7vw,1.5rem);
border-radius:  0.5rem;
}



.size-text{

margin-bottom: 0;
line-height: 0;
  
  color: #633f0c;
  font-weight: 500;
}


.sizes-categories{
  position: relative;
  display:flex;
  justify-content: space-evenly;
  width: 100%;
  height: clamp(1rem,10vw,2rem);
  top: 15%;
  font-weight: 600;
  font-family: 'Playfair Display';
  
}


.sizes-categories button{
  height: max-content;
  border: none;
  outline: none;
  background-color: #dcc3a1;
margin-top: 0;
    font-size: clamp(0.5rem,5vw,2rem);
  border-radius: 0.2rem;
  
}


.sizes-categories button:hover{
  background-color: #b16e11;
}



.Extra{
  position: relative;
display: flex;
flex-direction: column;
align-self: center;
width:93%;
max-width: 30rem;
height: fit-content;
border-radius: 0.7rem;
background-color: #e4b97d;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
padding: 0.3rem;
}



.shugar-container{
display: flex;
align-items: center;
gap: 20px;
width: 100%;
height: clamp(0.3rem,30vw,2rem);

}






@media (min-width:600px) {
  
.shugar-container{
padding-top: 0.6rem;
}



.Extra{

 justify-content: space-around;


}



}


input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.shugar{
width: clamp(0.8rem,25vw,1.1rem);
height: 1.5rem;
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 0.5rem;
  background-color: #fff;
  border-radius:0.3rem;
  border: none;
}


.placeholder-shugar{
  
  margin-left: 0.5rem;
  color: #634418;
  font-family:'Poppins',sans-serif;
  font-weight: 600;

}



.minus,.pluss{

font-size: larger;
background-color: wheat;
border: none;
border-radius: 0.3rem;
width: clamp(0.8rem,20vw,1.5rem);
}



.tempreture{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  height: clamp(0.3rem,30vw,2rem);
  padding-left: 0.5rem;

}

.tempreture p{
   
   font-weight: 600;
   color: #633f0c;
       font-size: clamp(0.1rem,10vw,1rem);
       


}



summary {
  list-style: none;
    background-color: #c49a5f;
    border-radius: 0.5rem;
    padding-left: 0.3rem;
    padding-top: 0.48rem;
    font-family:'Poppins',sans-serif;
    font-size: clamp(0.1rem,6vw,0.8rem);
    width: clamp(0.1rem,55.5vw,18rem);
    height: clamp(0.1rem,15vw,1.5rem);
    font-weight: 700;
}

ul{

  position: absolute;
   
font-weight: 600;
  top: 58px;
 left: 88px;
     font-size: clamp(0.1rem,10vw,1rem);
    z-index: 11;
}


.li-temp{

  list-style: none;
  padding-left: 0.3rem;
    background-color: #c49a5f;
   width: 55.5vw;
  border-top: 1px rgba(252, 92, 0, 0.762) solid;

}



li:hover{
  transform: scale(1.05);
  background-color: #633f0c;

}


.Milk{

display: flex;
width: 100%;
height: fit-content;
gap: 20px;
align-items: center;

z-index: 10;
}

.Milk p{
   
   font-weight: 600;
   color:#633f0c;
   padding-left: 0.7rem;
}

.Milk input{
  width: clamp(0.4rem,20vw,1rem);
  height: clamp(0.4rem,20vw,1rem);
  outline: none;
}
 





.ul{

  position: absolute;
   
font-weight: 600;
  top: 110px;
 left:92px;
}


.li{

  list-style: none;
  border-top: 1px rgba(252, 92, 0, 0.762) solid;

}

.li{
padding-left: 0.3rem;

    background-color: #c49a5f;
width: 40vw;

}



.how-many{
  display: flex;
  height: fit-content;
  align-items: center;
  width: 100%;
  gap: 10px;

}



.how-many p{
  
  font-size: clamp(0.6rem,5vw,2rem);
  
}





.how-many button{

    font-size: clamp(0.6rem,5vw,2rem);
background-color: wheat;
border: none;
border-radius: 0.3rem;
width: clamp(0.8rem,20vw,1.5rem);
height: clamp(0.8rem,20vw,1.5rem);


}

.how-many p{
  
  font-weight: 600;
     color:    #e1c297;
    margin-left: 0.5rem;
}



.Tottal-price{
  position: relative;
display: flex;
align-items: center;
width:fit-content;
padding-left:0.5rem ;
padding-right:0.5rem ;
gap: 0.3rem;
height: clamp(1rem,35vh,3.5rem);
align-self: center;
  background-color:#733410;
    border-radius: 0.5rem;
}


.Tottal-price b{

font-size: large;
color: #d5973f;
}



/*Style of Afogado page------------------------------------------------------------------------------*/



.Afogado-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }






 .Afogado-photo{
   justify-content: left;
background-image: url(Images/Afogado.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }



.Afogado-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}



/*Style of Espresso page------------------------------------------------------------------------------*/



.Espresso-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }



 .Espresso-photo{
   justify-content: left;
background-image: url(Images/Espresso.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }

 


 


.Espresso-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}




/*Style of Americano page------------------------------------------------------------------------------*/






.Americano-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }



 .Americano-photo{
   justify-content: left;
background-image: url(Images/Americano.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }


 


.Americano-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}




/*Style of Cappuccino page------------------------------------------------------------------------------*/






.Cappuccino-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }


 .Cappuccino-photo{
   justify-content: left;
background-image: url(Images/Cappuccino.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }


.Cappuccino-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}


/*Style of Cortado page------------------------------------------------------------------------------*/


.Cortado-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }


 .Cortado-photo{
   justify-content: left;
background-image: url(Images/Cortado.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }


.Cortado-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}





/*Style of Flat white page------------------------------------------------------------------------------*/




.Flat-White-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }






 .Flat-White-photo{
   justify-content: left;
background-image: url(Images/Flat-white.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }



.Flat-White-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}









/*Style of Galao page------------------------------------------------------------------------------*/




.Galao-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }






 .Galao-photo{
   justify-content: left;
background-image: url(Images/Galao.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }



.Galao-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}









/*Style of Machiato page------------------------------------------------------------------------------*/




.Machiato-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }






 .Machiato-photo{
   justify-content: left;
background-image: url(Images/Macchiato.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }



.Machiato-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}








/*Style of Mocca page------------------------------------------------------------------------------*/




.Mocca-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }






 .Mocca-photo{
   justify-content: left;
background-image: url(Images/Mocca.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }



.Mocca-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}








/*Style of Lungo page------------------------------------------------------------------------------*/




.Lungo-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }






 .Lungo-photo{
   justify-content: left;
background-image: url(Images/Lungo.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }



.Lungo-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}










/*Style of Ristretto page------------------------------------------------------------------------------*/




.Ristretto-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }






 .Ristretto-photo{
   justify-content: left;
background-image: url(Images/Restretto.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }



.Ristretto-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}












/*Style of Cold Brew page------------------------------------------------------------------------------*/




.Cold-Brew-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }






 .Cold-Brew-photo{
   justify-content: left;
background-image: url(Images/Cold-brew.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }



.Cold-Brew-text{
  
  position: absolute;
    top: -15px;
right: clamp(1rem,27vw,1.5rem);
  font-size: clamp(0.3rem,5vw,1rem);
  
  color: #e2b679;
  font-weight: 600;
}












/*Style of Cold Brew page------------------------------------------------------------------------------*/




.Iced-Coffee-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
        gap: 0.5rem;
    overflow-x: hidden;
background-color: #936526;
   padding-top: 0.4rem;
 }






 .Iced-Coffee-photo{
   justify-content: left;
background-image: url(Images/Cold-brew.jpg);
background-size: cover;
background-position: center;
width: clamp(4rem,34vw,15rem) ;
height: clamp(4rem,34vw,15rem);

border-radius: 0.8rem;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

 }



.Iced-Coffee-text{
  
  position: absolute;
    top: -15px;
left:47.87%;
  font-size: clamp(0.3rem,5vw,1rem);
  flex-shrink: 0;
  color: #e2b679;
  font-weight: 600;

}

  .Viennese-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 0.5rem;
    overflow-x: hidden;
    background-color: #936526;
    padding-top: 0.4rem;
  }

  .Viennese-photo{
    background-image: url(Images/Viennese.jpg);
    background-size: cover;
    background-position: center;
    width: clamp(4rem,34vw,15rem);
    height: clamp(4rem,34vw,15rem);
    border-radius: 0.8rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .Viennese-text{
    position: absolute;
    top: -15px;
    right: clamp(1rem,27vw,1.5rem);
    font-size: clamp(0.3rem,5vw,1rem);
    color: #e2b679;
    font-weight: 600;
  }


.p-total{
  display: flex;
align-items: center;
justify-content: center;
z-index: 1000;

font-size: 1rem;
font-weight: 600;
width: auto;
height: 1.5rem;
background-color: transparent;

}


.Dollar-Signe{
  font-size: larger;
  font-weight:500;
  
}


.Order-Button-Container{
position: relative;
display: flex;
width: 10rem;
height: 3rem;
border-radius: 2rem;
   background: #C49A5F;
align-self: center;
align-items: center;
padding-left: 0.2rem;
}

.Orderingbtn{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
width: 2.8rem;
height: 2.8rem;

border-radius: 1.5rem;
border: 2px solid #E8D5BB  ;
    background-color:  #6c4329;
    
    box-shadow:
        0 3px 8px rgba(53,46,46,0.4);
    cursor: grab;
touch-action: none;
z-index: 100;
}

.Orderingbtn.Slow{
  
transition:left 2s ease;
}

.OrderSticker{
background-image: url(Images/purchase-order.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
width: 80%;
height: 80%;

}


.SlideEnd{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
right: 0;
width: 2.9rem;
height: 2.9rem;
border-radius: 1.5rem;
z-index: 20;

}




